@using Microsoft.AspNetCore.Identity
@using CBAOseno.Core.Enums
@using CBAOseno.Core.Models
@model CBAOseno.WebApi.ViewModels.EditCustomerAccountViewModel

@{
    ViewData["Title"] = "Customer Accounts";
}


<div class="text-center">
    <h1 class="display-4">Customer Account Details</h1>
</div>

<div class="">
     <form method="post">
        <div asp-validation-summary = "All" class = "text-danger"></div>


          <div class="text-right">
     <a asp-area="" asp-controller="CustomerAccount" asp-action="Index" class="btn btn-primary">Back</a>
    </div>
    <br />  

   <div class="form-row">
       <div class="form-group col-md-3">
       <label asp-for = "AccountId" class="control-label">Account Id</label>
      <input asp-for = "AccountId" class="form-control" readonly />
      </div>
      <div class="form-group col-md-3">
       <label asp-for = "AccountNumber" class="control-label">Account Number</label>
      <input asp-for = "AccountNumber" class="form-control" readonly />
      <span asp-validation-for = "AccountNumber" class = "text-danger"></span>
      </div>
		<div class="form-group col-md-3">
       <label asp-for = "NewCustomerId" class="control-label">Customer Id</label>
      <input asp-for = "NewCustomerId" class="form-control" readonly />
      <span asp-validation-for = "NewCustomerId" class = "text-danger"></span>
      </div>
	 <div class="form-group col-md-3">
      <label asp-for = "AccountStatus" class="control-label">Account Status</label>
     <select asp-for = "AccountStatus" class = "form-control" asp-items="Html.GetEnumSelectList<AccountStatus>()" disabled>
        <option value="@Model.AccountStatus"></option>
      </select>
      </div>
	</div>
	<div class="form-row">
       <div class="form-group col-md-4">
       <label asp-for = "AccountName" class="control-label">Account Name</label>
      <input asp-for = "AccountName" class="form-control" readonly />
	  <span asp-validation-for = "AccountName" class = "text-danger"></span>
      </div>
      <div class="form-group col-md-4">
       <label asp-for = "AccountBalance" class="control-label">Account Balance</label>
      <input asp-for = "AccountBalance" class="form-control" readonly />
      <span asp-validation-for = "AccountBalance" class = "text-danger"></span>
      </div>

	 <div class="form-group col-md-4">
      <label asp-for = "AccountType" class="control-label">Account Type</label>
     <select asp-for = "AccountType" class = "form-control" asp-items="Html.GetEnumSelectList<AccountType>()" disabled>
        <option value="@Model.AccountType"></option>
      </select>
      </div>
	</div>
    </form>
 </div>