@using Microsoft.AspNetCore.Identity
@using CBAOseno.Core.Enums
@model CBAOseno.WebApi.ViewModels.EditCustomerAccountViewModel

@{
    ViewData["Title"] = "Customer Accounts";
}


<div class="text-center">
    <h1 class="display-4">Edit Customer Accounts</h1>
</div>


<div class="">
     <form method="post">
        <div asp-validation-summary = "All" class = "text-danger"></div>


          <div class="text-right">
     <a asp-area="" asp-controller="CustomerAccount" asp-action="Index" class="btn btn-primary">Back</a>
     <button type="submit" class="btn btn-outline-primary">Update</button>
    </div>
    <br />  

     <div class="form-row">
       <div class="form-group col-md-2">
       <label asp-for = "AccountNumber" class="control-label">Account Number</label>
      <input asp-for = "AccountNumber" class="form-control" readonly />
      </div>
      <div class="form-group col-md-5">
       <label asp-for = "AccountName" class="control-label">Account Name</label>
      <input asp-for = "AccountName" class="form-control" />
      <span asp-validation-for = "AccountName" class = "text-danger"></span>
      </div>

	 <div class="form-group col-md-5">
       <label asp-for = "AccountStatus" class="control-label">Account Status</label>
      <select asp-for = "AccountStatus" class = "form-control" asp-items="Html.GetEnumSelectList<AccountStatus>()">
        <option value="">Please select</option>
      </select>
      <span asp-validation-for = "AccountStatus" class = "text-danger"></span>
      </div>
	</div>
	
	


    </form>
 </div>
