@using Microsoft.AspNetCore.Identity
@using CBAOseno.Core.Enums
@model CBAOseno.WebApi.ViewModels.EditGLAccountViewModel

@{
    ViewData["Title"] = "GLAccount";
}


<div class="text-center">
    <h1 class="display-4">Edit GLAccount</h1>
</div>


<div class="">
     <form method="post">
        <div asp-validation-summary = "All" class = "text-danger"></div>


          <div class="text-right">
     <a asp-area="" asp-controller="GLAccount" asp-action="Index" class="btn btn-primary">Back</a>
     <button type="submit" class="btn btn-outline-primary">Update</button>
    </div>
    <br />  

     <div class="form-row">
       <div class="form-group col-md-3">
       <label asp-for = "Id" class="control-label">GLAccount Id</label>
      <input asp-for = "Id" class="form-control" readonly />
      </div>
      <div class="form-group col-md-5">
       <label asp-for = "GLAccountName" class="control-label">GLAccount Name</label>
      <input asp-for = "GLAccountName" class="form-control" />
      <span asp-validation-for = "GLAccountName" class = "text-danger"></span>
      </div>

	 <div class="form-group col-md-4">
     <label asp-for = "Status" class="control-label">Status</label>
      <select asp-for = "Status" class = "form-control" asp-items="Html.GetEnumSelectList<Status>()">
        <option value="">Please select</option>
      </select>
      <span asp-validation-for = "Status" class = "text-danger"></span>
      </div>
	</div>
	

    </form>
 </div>
